<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @vendor.company %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @vendor.mobile %>
</p>

<p>
  <strong>Tin no:</strong>
  <%= @vendor.tin_no %>
</p>

<p>
  <strong>User:</strong>
  <%= @vendor.user_id %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
