<h3> Adding a new project </h3>

<%= form_for @project do |f| %>

	<% if @project.errors.any? %>
	<div class='error' style="color:red">
		<ul>
			<% for msg in @project.errors.full_messages %> 
			<li><%= msg %> </li>
			<%end%>
		</ul>
	</div>
	<% end %>
	<label>Name: </label><br/>
	<%= f.text_field :name%><br/>
	
	<label>Status: </label><br/>
	<%= f.select :status, %w[new on-going completed]%><br/>
	
	<label>Description: </label><br/>
	<%= f.text_area :description, rows: 10 %><br/>
	
	<label>Start_date: </label><br/>
	<%= f.date_select :start_date, order: [:day, :month, :year], include_blank: true, start_year: (Date.today.year - 1), end_year: (Date.today.year + 2)%><br/>
	
	<label>Client: </label><br/>
	<%= f.collection_select :client_id, Client.all, :id, :company, prompt: "Select client"%><br/> <br/>
	
	<label>Code: </label><br/>
	<%= f.text_field :code%><br/> <br/>

	<%= f.submit %> 
	
<% end %>
